.Crop-Controls {
  margin-bottom: 10px;
}
.Crop-Controls > * {
  margin-bottom: 3px;
}

img {
  max-width: 100%;
}

.change-profile-picture-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.empty-profile-picture-div {
  display: flex;
  width: 80%;
  height: 50%;
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 20px;
}

.crop-container {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.added-image {
  border-radius: 20px;
  width: 100%;
}

.change-profile-picture-button {
  padding-top: 1rem;
  width: 100%;
}

.save-profile-picture-button {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  width: 80%;
  height: 100%;
}

.ReactCrop {
  border-radius: 100px;
}

.profile-picture-logo {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 2rem;
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid grey;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.add-profile-picture-icon {
  width: 50px;
  height: 50px;
}

.empty-profile-picture-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.empty-profile-picture-div:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

@media (max-width: 425px) {
  .change-profile-picture-box {
    width: 95%;
    justify-self: center;
    align-self: center;
  }
}
