.profile-picture-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture-container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 565px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-radius: 20px;
  z-index: 3;
}

.profile-picture-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}


@media (max-width: 768px) {
  .profile-picture-container {
    z-index: 5;
  }
}

@media (max-width: 425px) {
    .profile-picture-container {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    
}