.event-card-body {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 30vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
  margin: auto;
  margin-bottom: 1rem;
}

.date-title {
  font-size: 12px;
  font-weight: 400;
  color: #8f919b;
}

.event-title {
  font-size: 1.2em;
  font-weight: 600;
}

.card-info-body {
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  padding: 1rem;
  border: 1px solid #c3c4c6;
}

.button-actions {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.interested-button {
  width: 237px;
  height: 40px;
}

.share-button {
  width: 60px;
  height: 40px;
}

@media (max-width: 1024px) {
  .event-card-body {
    width: 100%;
    min-width: 380px;
  }
  .button-actions {
    justify-content: space-between;
    gap: 1rem;
  }
}

@media (max-width: 321px) {
  .event-card-body {
    width: 80%;
    min-width: 280px;
    height: 30vh;
  }
  .interested-button {
    width: 150px;
  }
}

@media only screen and (max-width: 425px) and (min-width: 321px) {
  .event-card-body {
    width: 90%;
    min-width: 300px;
    height: 30vh;
  }
  .button-actions {
    justify-content: space-between;
    gap: 1rem;
  }
  .interested-button {
    width: 200px;
  }
}
