body {
  overflow: hidden;
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "inter", sans-serif;
  overflow: hidden;
}

.login-height {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 565px;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-radius: 20px;
  z-index: 3;
}
.login-details {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.login-input {
  width: 100%;
  padding-top: 1rem;
}

.login-button-div {
  width: 85%;
  justify-content: center;
}

.login-button {
  width: 100%;
  height: 48px;
  border-radius: 50px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  text-transform: none !important;
}

.login-register-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  justify-content: space-around;
  align-items: center;
}

.register-text {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-size: 1.1rem;
}
.create-account-button {
  font-weight: 700;
  margin-left: 0.4rem;
}

.create-account-button:hover {
  cursor: pointer;
}

.terms-div {
  width: 100%;
  min-height: 100px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  padding-top: 1rem;
}

.text-link {
  font-weight: 600;
}

.color-gradient-1 {
  position: absolute;
  background: conic-gradient(
    from 90deg,
    #b9dafb66,
    #9895ee66,
    #c5549266,
    #90a2f880,
    #ecacad66
  );
  width: 30%;
  height: 50vh;
  border-radius: 50%;
  filter: blur(60px);
  bottom: 00px;
  left: -175px;
  z-index: 2;
}

.color-gradient-2 {
  position: absolute;
  background: conic-gradient(
    #b9dafb66 40%,
    #9895ee66 40%,
    #c5549266 40%,
    #ecacad66 40%
  );
  width: 500px;
  height: 50vh;
  border-radius: 50%;
  filter: blur(60px);
  top: -200px;
  right: -0px;
  z-index: 2;
}
.color-gradient-3 {
  position: absolute;
  background: conic-gradient(
    from 90deg,
    #b9dafb66,
    #9895ee66,
    #c5549266,
    #90a2f880,
    #ecacad66
  );
  width: 500px;
  height: 20vh;
  border-radius: 50%;
  filter: blur(60px);
  bottom: 0px;
  right: -0px;
  z-index: 2;
}

.error-message {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  animation: shake 1s;
  height: 40px;
  width: 80%;
}

.error-message-holder {
  height: 20px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30% {
    transform: translateX(-5px);
  }
  20%,
  40% {
    transform: translateX(5px);
  }
}

@media (max-width: 1024px) {
  .login-box {
    width: 60%;
    height: 60vh;
  }

  .login-input {
    width: 80%;
  }
  .color-gradient-2 {
    z-index: 0;
  }

  .color-gradient-1 {
    z-index: 4;
  }

  .color-gradient-3 {
    z-index: 4;
  }
}

@media (max-width: 768px) {
  .login-box {
    width: 100%;
    height: 100vh;
  }

  .login-input {
    width: 90%;
  }

  .register-input {
    width: 90%;
  }
  .color-gradient-3 {
    z-index: 1;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 320px) {
  .register-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .terms-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .color-gradient-2 {
    display: none;
  }
}
